@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100;0,200;0,300;0,400;1,200;1,300;1,400&display=swap');



html, body {
    box-sizing:border-box;
    height: 100%;
    width: 100%;   
    overflow-x:hidden;
}

.link-secondary {
    color: #C17C74 !important;
}

.header-logo{
    color: #C17C74; 
}

.social-icons{
    display:flex;
    flex-direction:row;
    list-style:none;
    justify-content: space-evenly;


}

.vl {
    border-left: 1px solid rgb(0, 0, 0);
    height: 25px;    
  }


.top-section-1{
  background-color:#2A3D45;
  background-image: url(images/nekr.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  height:50vh;
  width: 100vw;     
  margin-top:20%;
}



  .top-section-2{
    background-color:#f1e7dd;  
    height:50%; 
    width: 100vw;     
    margin-bottom:10%;
   
  
    
  }

  .nav{
    font-family: 'Raleway', sans-serif;
    font-weight: bold;
  }



  .image-post-1{
      width:45vh;
      margin-top:-30%;
    
 
  }

 
  
  .image-post-2{
    width:50vh;
    margin-top:5%;

}

.position-relative{
  margin-top:-3% !important;
}


  .btn-primary{      
      background-color:#C17C74 !important;
      width:73%; 
      border:none !important;           
  }

  
  .well{
      margin-right:25%;
  }


 


  .boxed {
    background: ghostwhite; 
    font-size: 16px; 
    color:#C17C74;     
    border: 1px solid lightgray; 
    position:absolute;
    left:-4%;
    top:-10%;
  }

  .boxed-2{
    background: ghostwhite; 
    font-size: 16px; 
    color:#C17C74;   
    border: 1px solid lightgray; 
    position:absolute;
    left:-3%;
    top:15%;
  }

  .boxed-3{
    background: ghostwhite; 
    font-size: 15px; 
    color:#C17C74;           
    border: 1px solid lightgray; 
    position:absolute;
    left:70%;
    top:5%;
    
  }

  .boxed-4{
    background: ghostwhite; 
    font-size: 20px; 
    color:#C17C74;
    padding: 2px;    
    border: 1px solid lightgray; 
    position:absolute;
    top:40%;
    left:70%;
    
  }

  .boxed-5{
    background: ghostwhite; 
    font-size: 20px; 
    color:#C17C74;
    padding: 2px;    
    border: 1px solid lightgray; 
    position:absolute;
    left:70%;
    top:70%;
  }



.first col{
  margin-left:100px;
  width:25% !important;
}


@media screen and (min-width:2560px){
  .image-post-1{
    margin-top:25% !important;
  }
  .boxed{
    margin-top:70% !important;
  }
  .image-post-2 {
    width: 50vh;
    margin-top: 5%;
    padding-right: 25%;
}

.mid-section{ 
 margin-top:0% !important;
  
}

.card-text{
  font-size:24px !important;
  line-height:40px !important;
}
}




 .mid-section{ 
   background-color: #2A3D45;   
  height: 55vh;
  width: 100vw;
  margin-top:25%;  
 }

 .card {
  position: relative;
  display: flex;
  flex-direction: column;
  min-width: 0;
  word-wrap: break-word;
  background-color: transparent !important; 
  background-clip: border-box;
  border: 0 !important;


}



.articles-section{
  background-color:#f1e7dd;   
    width: 100vw;   
    padding:5%;
    margin-top:0%;
    
}

.carousel-title{
  color:#F1E7DD;
  font-size:16px;
}

.card-title{
 color: #F1E7DD;

}

.card-text{
  color: #F1E7DD;
  font: normal normal normal 20px/32px Raleway;
}

@media screen and (min-width:768px){
  .card-text{
    font-size:16px;
    line-height:20px;
  }
}
  



.article-title {
margin:5%;
color:#C17C74;
font-family: Crimson Text;
}

.article-link a{
font: normal normal 600 20px/32px Raleway;
letter-spacing: 3px;
color: #C17C74;
opacity: 1;
text-decoration: none;
border-bottom: #2A3D45 0.125em solid;
}




.article-card-title{
  color:#2A3D45;
  font-family: Crimson Text;  
}

.article-card-text{
  color:#2A3D45;
}




.instagram{
  margin-top:5%;
}


.instagram-border-top{
  background-color:#2A3D45;  
  height:50px; 
  width: 100vw;     
 
}

.instagram-border-bottom{
  background-color:#2A3D45;  
  height:50px; 
  width: 100vw;     
  margin-bottom:10%; 
}


.insta-title{
  color:#f1e7dd;
  font-size:20px;
}

.social-icons-insta{
  color:#f1e7dd;
  font-size:20px;
  display:flex;
  flex-direction:row;
  list-style:none;
  justify-content:center;
}
 

.footer{
  background-color:#c17c74;
  margin-top:10%;
}

.footer-links{ 
  font-size:20px;
  display:flex;
  flex-direction:row;
  list-style:none;
  justify-content:space-evenly;
}


  


.footer-links a{
  color:#f1e7dd;
  text-decoration:none;
}

.footer-copyright{
  color:#2A3D45;
  font-weight: bold;
  font-size:20px;
  font-family: raleway;
}

.newsletter-button{
  background-color:#2A3D45;
  color:#f1e7dd;
  padding:5px;
}

.newsletter-title{
  color:#2A3D45;
  font-size:18px; 
  font-weight:bold;
  font-family:raleway;
}

@media screen and (max-width:768px){
  .footer-links{
    font-size:20px;
    display:flex;
    flex-direction:column;
    list-style:none;
    justify-content:space-evenly;
  }
}
  

@media screen and (max-width:768px)and (min-width:768px){
 .form-control{
   width:100% !important;
  }

  .carousel-flipper{
    margin-top:-3%;   
  }
}

@media screen and (max-width:1024px)and (min-width:1024px){
  .mid-section{
    margin-top:30%;
  }
}

@media screen and (max-width: 767px) {

  .mid-section{
    margin-bottom:90rem;
  }
  .social-icons {
    display:flex;
    flex-direction:row;
    list-style:none;
    justify-content: space-evenly;
    padding:1em;
    margin-bottom:5em;
}

.image-1-column {
   padding-top:100%;
   margin-left:24%;
   margin-right:25%;
   
}

i {
   margin: 1em;

}
.vl{
   margin-top:10px;
}  
  

  
  .carousel-flipper{
        display: block; 
        margin-left: auto;
        margin-right: auto;
        max-width:350px;
        margin-top:10%;
    }



 
    .card{
      margin-top:350%;
    }

    .card-text{
      font-size:12px;
        }



 .card-body{
  background-color: #2A3D45;   
 }
 .article-body{
   background-color:white;
 }
 
 .articles-section{
  background-color:#f1e7dd;   
    width: 100vw;    
    margin-top:30%;
    padding:5%;
    
}

.article{
  margin-top:-300% !important;
}


.sidebar{
  margin-top:25% !important;
}


}
  
  
